.md-content { /* markdown table 内容样式 */
    table {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
    }

    td,
    th {
        padding: 0
    }

    table th {
        font-weight: 600
    }

    table td,
    table th {
        padding: 6px 13px;
        border: 1px solid #d0d7de
    }

    table tr {
        background-color: #fff;
        border-top: 1px solid #d7dde3
    }

    table tr:nth-child(2n) {
        background-color: #f6f8fa
    }

    table img {
        background-color: transparent
    }


    /* 悬停效果 */
    tr:hover,
    tr:nth-child(2n):hover {
        background-color: #ecf0f1;
        /* 行悬停背景色 */
    }
}


.el-divider-ignore-background-color .el-divider__text {
    background-color: transparent;
}